/* .flexbox-container {
    display: flex;

}

.flexbox-item-1 {
    width: 200px;
    margin: 10px;
    border: 3px soild #333;
    background-color: white;
}

.flexbox-item-2 {
    min-height: auto;
}

.flexbox-item-3 {
    min-height: 200px;
}

.flexbox-item-4 {
    min-height: 200px;
}

.flexbox-item-5 {
    min-height: 200px;
} */
.parent {
    display: flex;
    flex-direction: row;
    height: 250px;
    align-items: flex-end;
    }

.hero-text{
    color: white;
    text-align: center;
    position: relative;
    top: 400px; left: 40px;
    text-size-adjust: 200%;
}

.hero-image{
    height: 900px;
    width: auto;
}

button {
    color: orange;
    justify-self: end;
}

nav li{
    display: inline;
    margin: 20px;
    position: relative;
}

nav{
    display: block;
    color:white
}
nav a:hover{
    color: yellow;
}

body {
    background-image: url("theater-image-background.png");
    background-repeat: no-repeat;
    height: 300pc;
}
disply {
    justify-content: row;
}
